<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>杨志刚的个人博客</title>
    <link rel="stylesheet" href="/css/index&register_css/style.css" />
    <link rel="stylesheet" href="/css/alert_css/alert.css" />
    <link rel="stylesheet" href="/metionFont/iconfont.css">
    <!-- 弹出框 -->
    <link rel="stylesheet" href="/sweetalert-master/lib/sweet-alert.css">
    <style>
        body {
            background-image: url('../images/1.jpg');
            background-size: cover;
        }
    </style>

<body>

    <div class="register-container">
        <h1>欢迎注册</h1>
        <div class="connect">
            <p>Link the world. Share to world.</p>
        </div>
        <!-- 提示框 -->
        <div class="metion" style="display: none;">
            <span class="iconfont icon-tishi" style="color: red;"></span>
            <span class="metion_text"></span>

        </div>

        <form action="/register" method="post" id="registerForm" onsubmit="return false">
            <div>
                <input type="text" name="userName" class="username" placeholder="您的用户名" autocomplete="off" />
            </div>

            <div>
                <input type="password" name="password" class="password" placeholder="输入密码" />
            </div>
            <div>
                <input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码" />
            </div>
            <div>
                <input type="text" name="sex" placeholder="性别" class="sex" list="sexSelect" />
                <datalist id="sexSelect">
                    <optgroup>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </optgroup>
                </datalist>
            </div>
            <div>
                <input type="text" name="email" class="email" placeholder="输入邮箱地址" />
            </div>

            <button id="submit" type="submit">注 册</button>
        </form>
        <a href="/">
            <button type="button" class="register-tis">已经有账号？</button>
        </a>

    </div>



    <script src="/js/login_register/jquery.min.js"></script>
    <!-- 弹出框 -->
    <script src="/sweetalert-master/lib/sweet-alert.min.js"></script>
    <script src="/js/verification_js/register_verification.js"></script>
    <script src="/js/login_register/common.js"></script>
    <!--背景图片自动更换-->
    <script src="/js/login_register/supersized.3.2.7.min.js"></script>
    <script src="/js/login_register/supersized-init.js"></script>

</body>

</html>